version: '3'
services:
  frontend:
    image: buildbarn/bb-storage:20230208T220714Z-fd356c8
    command:
    - /config/frontend.jsonnet
    expose:
    - 9980
    ports:
    - 8980:8980
    volumes:
    - ./config:/config

  storage-0:
    image: buildbarn/bb-storage:20230208T220714Z-fd356c8
    command:
    - /config/storage.jsonnet
    expose:
    - 8981
    - 9980
    volumes:
    - ./config:/config
    - ./volumes/storage-ac-0:/storage-ac
    - ./volumes/storage-cas-0:/storage-cas

  storage-1:
    image: buildbarn/bb-storage:20230208T220714Z-fd356c8
    command:
    - /config/storage.jsonnet
    expose:
    - 8981
    - 9980
    volumes:
    - ./config:/config
    - ./volumes/storage-ac-1:/storage-ac
    - ./volumes/storage-cas-1:/storage-cas

  scheduler:
    image: buildbarn/bb-scheduler:20230213T172655Z-e0ae60c
    command:
    - /config/scheduler.jsonnet
    expose:
    - 8982
    - 8983
    - 9980
    ports:
    - 7982:7982
    volumes:
    - ./config:/config

  browser:
    image: buildbarn/bb-browser:20230208T101541Z-73a5362
    command:
    - /config/browser.jsonnet
    expose:
    - 9980
    ports:
    - 7984:7984
    volumes:
    - ./config:/config

  runner-installer:
    image: buildbarn/bb-runner-installer:20230213T172655Z-e0ae60c
    volumes:
    - ./volumes/bb:/bb

  # The FUSE worker is the most efficient configuration.
  worker-fuse-ubuntu22-04:
    image: buildbarn/bb-worker:20230213T172655Z-e0ae60c
    command:
    - /config/worker-fuse-ubuntu22-04.jsonnet
    # Need to be privileged for the FUSE mounting to work.
    privileged: true
    volumes:
    - ./config:/config
    - type: bind
      source: ./volumes/worker-fuse-ubuntu22-04
      target: /worker
      bind:
        # Bidirectional mount to expose the FUSE mount.
        propagation: shared

  runner-fuse-ubuntu22-04:
    image: ghcr.io/catthehacker/ubuntu:act-22.04@sha256:5f9c35c25db1d51a8ddaae5c0ba8d3c163c5e9a4a6cc97acd409ac7eae239448
    command:
    - sh
    - -c
    - while ! test -f /bb/installed; do sleep 1; done; exec /bb/tini -v -g -- /bb/bb_runner /config/runner-ubuntu22-04.jsonnet
    network_mode: none
    volumes:
    - ./config:/config
    - ./volumes/bb:/bb
    - type: bind
      source: ./volumes/worker-fuse-ubuntu22-04
      target: /worker
      bind:
        # HostToContainer mount to use the FUSE mount.
        propagation: slave
    depends_on:
    - runner-installer

  # For situations where the more efficient FUSE worker is not supported,
  # the classic hardlinking example is shown here.
  worker-hardlinking-ubuntu22-04:
    image: buildbarn/bb-worker:20230213T172655Z-e0ae60c
    command:
    - /config/worker-hardlinking-ubuntu22-04.jsonnet
    # Need to be privileged for the FUSE mounting to work.
    privileged: true
    volumes:
    - ./config:/config
    - ./volumes/worker-hardlinking-ubuntu22-04:/worker

  runner-ubuntu22-04-hardlinking:
    image: ghcr.io/catthehacker/ubuntu:act-22.04@sha256:5f9c35c25db1d51a8ddaae5c0ba8d3c163c5e9a4a6cc97acd409ac7eae239448
    command:
    - sh
    - -c
    - while ! test -f /bb/installed; do sleep 1; done; exec /bb/tini -v -g -- /bb/bb_runner /config/runner-ubuntu22-04.jsonnet
    network_mode: none
    volumes:
    - ./config:/config
    - ./volumes/bb:/bb
    - ./volumes/worker-hardlinking-ubuntu22-04:/worker
    depends_on:
    - runner-installer

  remote-asset:
    # TODO(minor-fixes): Replace with actual container once pushed to ghcr
    image: bazel/cmd/bb_remote_asset:bb_remote_asset_container
    command:
    - /config/remote-asset.jsonnet
    expose:
    - 9980
    ports:
    - 8984:8984
    volumes:
    - ./config:/config