version: '3'
services:
  frontend:
    image: buildbarn/bb-storage:20200520T103928Z-32c5ba0
    command:
    - /config/frontend.jsonnet
    ports:
    - 7980:7980
    - 8980:8980
    volumes:
    - ./config:/config

  storage-0:
    image: buildbarn/bb-storage:20200520T103928Z-32c5ba0
    command:
    - /config/storage.jsonnet
    expose:
    - 8981
    ports:
    - 7981:7981
    volumes:
    - ./config:/config
    - storage-ac-0:/storage-ac
    - storage-cas-0:/storage-cas

  storage-1:
    image: buildbarn/bb-storage:20200520T103928Z-32c5ba0
    command:
    - /config/storage.jsonnet
    expose:
    - 8981
    ports:
    - 17981:7981
    volumes:
    - ./config:/config
    - storage-ac-1:/storage-ac
    - storage-cas-1:/storage-cas

  scheduler:
    image: buildbarn/bb-scheduler:20200528T061211Z-4dfbe5b
    command:
    - /config/scheduler.jsonnet
    expose:
    - 8982
    - 8983
    ports:
    - 7982:7982
    volumes:
    - ./config:/config
    depends_on:
    - storage-0
    - storage-1

  browser:
    image: buildbarn/bb-browser:20200514T172056Z-1c2932b
    command:
    - /config/browser.jsonnet
    ports:
    - 7984:7984
    volumes:
    - ./config:/config
    depends_on:
    - storage-0
    - storage-1

  worker-ubuntu16-04:
    image: buildbarn/bb-worker:20200528T061211Z-4dfbe5b
    command:
    - /config/worker-ubuntu16-04.jsonnet
    ports:
    - 7986:7986
    volumes:
    - ./config:/config
    - buildbarn-worker-ubuntu16-04:/worker
    depends_on:
    - storage-0
    - storage-1
    - scheduler
    - runner-ubuntu16-04

  runner-ubuntu16-04:
    image: l.gcr.io/google/rbe-ubuntu16-04@sha256:b516a2d69537cb40a7c6a7d92d0008abb29fba8725243772bdaf2c83f1be2272
    command:
    - sh
    - -c
    - while ! test -f /bb/installed; do sleep 1; done; exec /bb/tini -v -g -- /bb/bb_runner /config/runner-ubuntu16-04.jsonnet
    network_mode: none
    volumes:
    - buildbarn-worker-ubuntu16-04:/worker
    - buildbarn-tini:/bb
    - ./config:/config
    depends_on:
    - runner-installer
 
  runner-installer:
    image: buildbarn/bb-runner-installer:20200528T061211Z-4dfbe5b
    volumes:
    - buildbarn-tini:/bb

volumes:
  buildbarn-worker-ubuntu16-04:
    external: true
  storage-ac-0:
  storage-ac-1:
  storage-cas-0:
  storage-cas-1:
  buildbarn-tini:
    external: true
