apiVersion: v1
data:
  storage.jsonnet: |
    local common = import 'common.libsonnet';

    {
      blobstore: {
        contentAddressableStorage: {
          'local': {
            keyLocationMapOnBlockDevice: {
              file: {
                path: '/cas/key_location_map',
                sizeBytes: 768 * 1024 * 1024,
              },
            },
            keyLocationMapMaximumGetAttempts: 8,
            keyLocationMapMaximumPutAttempts: 32,
            oldBlocks: 8,
            currentBlocks: 24,
            newBlocks: 3,
            blocksOnBlockDevice: {
              source: {
                file: {
                  path: '/cas/blocks',
                  sizeBytes: 10 * 1024 * 1024 * 1024,
                },
              },
              spareBlocks: 3,
            },
            persistent: {
              stateDirectoryPath: '/cas/persistent_state',
              minimumEpochInterval: '300s',
            },
          },
        },
        actionCache: {
          completenessChecking: {
            'local': {
              keyLocationMapOnBlockDevice: {
                file: {
                  path: '/ac/key_location_map',
                  sizeBytes: 128 * 1024 * 1024,
                },
              },
              keyLocationMapMaximumGetAttempts: 8,
              keyLocationMapMaximumPutAttempts: 32,
              oldBlocks: 8,
              currentBlocks: 24,
              newBlocks: 3,
              blocksOnBlockDevice: {
                source: {
                  file: {
                    path: '/ac/blocks',
                    sizeBytes: 768 * 1024 * 1024,
                  },
                },
                spareBlocks: 3,
              },
              persistent: {
                stateDirectoryPath: '/ac/persistent_state',
                minimumEpochInterval: '300s',
              },
            },
          },
        },
      },
      global: common.global,
      grpcServers: [{
        listenAddresses: [':8981'],
        authenticationPolicy: { allow: {} },
      }],
      allowAcUpdatesForInstanceNamePrefixes: [''],
      maximumMessageSizeBytes: common.maximumMessageSizeBytes,
    }

kind: ConfigMap
metadata:
  name: storage
  namespace: buildbarn
